body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #f2f2f2;
  background-color: #111;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

a:link {
  color: greenyellow;
  text-decoration: none;
}

a:visited {
  color: #ccc;
  text-decoration: none;
}

#redBox {
  height: 40px;
  width: 40px;
  background-color: red;
}
