body {
    background-color: black;
    color: white;
}

.super {
    /* font-size: 240px; */
    font-size: 24vw;
    font-weight: bold;
    /* text-align: right; */
}

span {
    font-size: 4vw;
}

input {
    border: 0px;
    border-bottom: 1px solid red;
    padding-top: 5px;
    background-color: black;
    color: white;
    font-size: 4vw;
    max-width: 90%;
}

@media (min-width: 992px) {
    .super {
        font-size: 240px;
    }

    span, input {
        font-size: 80px;
    }
}
